	*{margin: 0;padding: 0;}
	li{list-style: none;}
	a{text-decoration: none;}
	.template_content h2{font-weight: normal;
		font-size: 17px;
		color: #fff;
		margin: 0 0 10px;
		letter-spacing:2px;
	}
	body{font-family: Arial, Helvetica, sans-serif;
		overflow-x: hidden;
		background-image: url(img/colored_body_top2.png);
		background-size:178% ;
		color: #c6d4df;
		font-size: 12px;
	}
	.clear{clear:both;}
	.responsive{position: relative;}
	.global_header{
		font-size: 14px;
		background-color: #171a21;
		padding: 0 16px;
	}
	.content{
		width: 940px;
		height: 104px;
		margin: 0 auto;
		position: relative;
		right: -90px;
	}
	.content.move{right: 0;}
	.logo{
		float: left;
		padding-top: 30px;
		margin-right: 40px;
		width: 176px;
		height: 44px;
	}
	.container{
		position: absolute;
		left: 215px;
	}
	.container li{
		float: left;
		margin-right: 10px;
		margin-top: 32px;
	}
	.container a{
		display: block;
		padding: 10px 5px 3px 5px;
	}
	.content a{
		color: #e5e4dc;
	}
	.content a:hover{
		color: #fff;
	}
	.menuitem{position: relative;}
	.supernav{
		position: absolute;
		height: 0;
		left: -5px;
		top: 35px;
		background-color: #171a21;
		padding: 0 8px;
		overflow: hidden;
		opacity: 0;
		z-index: 2;
		transition:all 0.8s;
	}
	.menuitem:hover .supernav1{
		opacity: 1;
		height: 175px;
	}
	.menuitem:hover .supernav2{
		opacity: 1;
		height: 145px;
	}
	.submenu1{
		width: 48px;
	}
	.submenu2{
		width: 68px;
	}
	.supernav a{
		font-size: 11px;
		padding: 6px 0;
		padding-right: 10px;
	}
	.global_actions{
		float: right;
		padding-top: 3px;
		font-size: 11px;
	}
	.header{
		display: inline-block;
		position: relative;
		height: 21px;
		margin-right: 5px;
		width: 90px;
	}
	.header_btn{
		background-image: url(img/btn_header_installsteam_green.png);
		position: absolute;
		top: 6px;
		width: 24px;
		height: 21px;
		z-index: 2;
	}
	.installsteam{
		position: absolute;
		top: 6px;
		left: 20px;
		background-image: url(img/btn_header_installsteam_green.png);
		display: block;	
		padding:0 5px;
		height: 21px;
		line-height: 21px;
		background-position: 0 -21px;
	}
	.global_actions>a{
		padding: 2px 4px;
	}
	.global_actions span{
		color: #b8b6b4;	
	}
	.template_content{
		position: relative;
	}
	.home_page_content{
		padding: 0 16px;
		padding-left: 234px;
		width: 940px;
		margin: 0 auto;
		position: relative;
	}
	.home_page_gutter{
		width: 210px;
		position: absolute;
		left: 0;
	}
	.gutter1 img{
		width: 210px;
	}
	.gutter2{
		margin-bottom: 10px;
	}
	.gutter2 p{
		font-size: 11px;
		margin-bottom: 3px;
	}
	.gutter2 a{
		color: #66c0f4;
		font-size: 13px;
		display: block;
		margin-bottom: 3px;
	}
	.gutter2 a:hover{
		color: #fff;
	}
	.gutter2 i{
		position: relative;
		top: 3px;
		background-image: url(img/store_menu_icons.png);
		background-repeat: no-repeat;
		height: 16px;
		width: 16px;
		margin-right: 2px;
		display: inline-block;
	}
	.store{
		margin-top: 30px;
		margin-bottom: 40px;
		background-color:#366f96; 
		height: 35px;
		font-size: 14px;
	}
	.store.move{margin-bottom: 18px;}
	.store li{
		position: relative;
		float: left;
		padding: 0 12px;
		border-right: 1px solid #12171b4d;
		line-height: 35px;
	}
	.store a{
		display: inline-block;
		padding-right: 2px;
		color: #ccc;
		padding: 0 5px;
	}
	.store span{
		background-image: url(img/btn_arrow_down_padded_white.png);
		width: 14px;
		height: 12px;
		display: inline-block;
		background-repeat: no-repeat;
		background-position: -3px 2px;
		cursor: pointer;
	}
	.search{
		position: absolute;
		top: 1px;
		right: -9px;
		width: 25px;
		height: 25px;
		background-image: url(img/search_icon_btn_over.png);
		background-repeat: no-repeat;
	}
	.store .searchbox{
		float: right;
		border-right: none;
		margin-right: 5px;
		height: 27px;
		background-color: #316282;
		border: 1px solid rgba( 0, 0, 0, 0.3);
		padding: 0 6px;
		margin-top: 3px;
		border-radius: 3%;
		width: 200px;
	}
	.store li:hover{
		background-color: #c7d5e0;
	}
	.store li:hover>a{color: #000;}
	.store .searchbox:hover{
		border: 1px solid #4fa9dd;
		background-color: #316282;
	}
	.searchbox input{
		color: #fff;
		font-size: 14px;
		padding-left: 2px;
		width: 172px;
		height: 27px;
		background-color: #316282;
		border: none;
		outline: none;
		position: absolute;
		font-weight: 300;
	} 
	input::-webkit-input-placeholder{
		color: #0e1c25;
		font-style: italic;
	}
	.storeHomepage{
		position: absolute;
		left: 0;
		height: 0;
		background-color: #c7d5e0;
		z-index: 2;
		opacity: 0;
		overflow: hidden;
		box-shadow: 0 0 12px #000;
		transition:all 0.5s;
	}
	.storeHomepage1{
		top: 35px;
		width: 118px;
	}
	.storeNav a{
		display: block;
		color: #000;
		line-height: 24px;
		padding: 2px 8px;
		font-size: 13px;
	}
	.storeNav a:hover{
		color: #fff;
		background-color: #212d3d;
	}
	.storeNav{
		padding: 5px;
	}
	.hr{
		height: 1px;
		background-color: #fff;
		margin: 5px;
	}
	.yourStore:hover .storeHomepage1{
		height: 134px;
		opacity: 1;
	}
	.storeHomepage2{
		top: 35px;
		width: 145px;
	}
	.storeNav p{
		margin-left: 8px;
		font-size: 11px;
		color: #4f94bc;
		line-height: 24px;
	}
	.game:hover .storeHomepage2{
		height: 592px;
		opacity: 1;
	}
	.storeHomepage3{
		top: 35px;
		width: 124px;
	}
	.software:hover .storeHomepage3{
		opacity: 1;
		height: 216px;
	}
	.storeHomepage4{
		top: 35px;
		width: 120px;
	}
	.hardware:hover .storeHomepage4{
		opacity: 1;
		height: 120px;
	}
	.storeHomepage5{
		top: 35px;
		width: 116px;
	}
	.video:hover .storeHomepage5{
		opacity: 1;
		height: 442px;
	}
	.carousel_container{
		margin-top: 5px;
		position: relative;
	}
	.carousel_container>span{
		position: absolute;
		top: 122px;
		display: block;
		height: 36px;
		width: 23px;
		padding: 36px 11px;
		cursor: pointer;
	}
	.carousel_container i{
		width: 23px;
		height: 36px;
		display: block;
		background-image: url(img/arrows.png);
	}
	.left{
		left: -46px;
		background: linear-gradient(to right,rgba(0,0,0,.3)5%,rgba(0,0,0,0)95%) ;
	}
	.left:hover{background: linear-gradient(to right,rgba(171,218,244,.3)5%,rgba(171,218,244,0)95%);}
	.left i{
		background-position: -23px 0;
	}
	.right{
		right: -46px;
		background:  linear-gradient(to left,rgba(0,0,0,.3)5%,rgba(0,0,0,0)95%) ;
	}
	.right:hover{background:  linear-gradient(to left,rgba(171,218,244,.3)5%,rgba(171,218,244,0)95%) ;}
	.carousel_items{
		height: 353px;
		width: 940px;
		margin: 0 auto;
		position: relative;
		background-color: rgba(0,0,0,.6);
		box-shadow: 0 0 7px 0 #000;
	}
	.carousel_items.game{
		height: 135px;
		background-color: inherit;
		box-shadow: none;
	}
	.scheme{
		display: none;
	}
	.scheme.focus{display: block;}
	.contentImg{
		float: left;
		height: 353px;
		margin-right: 10px;
		position: relative;
	}
	.contentImg li{
		position: absolute;
		top: 0;
		left: 0;
		height: 353px;
		display: none;
	}
	.contentImg .focus{display: block;}
	.contentImg li img{
		width: 616px;
		height: 353px;
	}
	.info{
		float: right;
		width: 314px;
		height: 353px;
		color: #fff;
		overflow: hidden;
		position: relative;
	}
	.app_name{
		padding-top: 10px;
		padding-left: 6px;
		padding-right: 6px;
		font-size: 24px;
		line-height: 26px;
		height: 59px;
		font-weight: 300;
		display: flex;
		align-items:center;
	}
	.screenshots{
		width: 314px;
		display: inline-block;
		max-height: 176px;
	}
	.screenshots_nav{
		width: 330px;
		display: inline-block;
		margin-left: -16px;
		max-height: 176px;
	}
	.screenshots img{
		width: 153px;
		height: 72px;
		opacity: 0.6;
		padding:10px 10px 0 0; 
	}
	.screenshots img:hover{
		opacity: 1;
	}
	.reason{
		margin-top: 8px;
		padding-left: 6px;
		width: 298px;
	}
	.reason p{
		font-size: 21px;
		font-weight: 200;
		padding-top: 6px;
	}
	.additional{
		margin-top: 10px;
		font-size: 11px;
		display: inline-block;
		margin-bottom: 8px;
		line-height: 19px;
		background-color: rgba(255,255,255,0.2);
		border-radius: 2px;
		padding: 0 7px;
	}
	.discount_block{
		position: absolute;
		left: 10px;
		bottom: 10px;
	}
	.discount_prices{
		display: inline-block;
		color: #acdbf5;
		font-size: 11px;
		padding: 0 5px;
		background-color: #000;
		margin-left: -3px;
	}
	.discount_prices.shijia{background-color: rgba(0,0,0,0);}
	.discount_original_price{
		color: #7193a6;
		text-decoration: line-through;
	}
	.discount_pct{
		display: inline-block;
		padding: 0 4px;
		color: #a4d007; 
		background-color: #4c6b22;
		font-size: 11px;
	}
	.platforms{
		position: absolute;
		right: 10px;
		bottom: 10px;
	}
	.platforms span{
		display: none;
		width: 20px;
		height: 20px;
	}
	.platforms img{opacity: 0.7;}
	.home_maincap{
		position: absolute;
		left: -305px;
		top: 0;
		width: 300px;
		background-color: #dee6ec;
		display: none;
		z-index: 2;
	}
	.substance{
		padding:12px 15px;
	}
	.substance p{color: #30455a;}
	.substance h4{
		color: #222d3d;
		font-size: 15px;
	}
	.substanceImg{
		max-height: 140px;
		position: relative;
	}
	.substanceImg img{
		position: absolute;
		top: 5px;
		left: 0;
		width: 270px;
		height: 140px;
		display: none;
	}
	.evaluation{
		height: 42px;
		background-color: #687783;
		margin-top: 152px;
		margin-bottom: 8px;
	}
	.evaluation p{
		color: #c6d4df;
		line-height: 20px;
		padding-left: 5px;
	}
	.evaluation span{margin-right: 3px;}
	.Ravereviews{color: #66c0f4;}
	.Mixed{color: #b9a074;}
	.label{
		height: 64px;
		overflow: hidden;
	}
	.label span{
		padding: 3px;
		display: inline-block;
		color: #fff;
		background-color: #96a3ae;
		margin-left: 3px;
		margin-bottom: 2px;
		border-radius: 3px;
	}
	.browse{
		font-size: 12px;
		display: block;
		float: right;
	}
	.browse a{
		color: #fff;
		letter-spacing: normal;
		border-radius: 2px;
		padding: 3px 15px;
		line-height: 20px;
		border: 1px solid rgba(255,255,255,.4);
		margin-left: 5px;
	}
	.browse a:hover{border: 1px solid #fff;}
	.dot{
		text-align: center;
		padding-bottom: 4px;
	}
	.dot span{
		width: 15px;
		height: 9px;
		border-radius: 2px;
		cursor: pointer;
		margin: 14px 3px;
		display: inline-block;
		background-color: #ffffff33;
	}
	.dot span.focus{background-color: #ffffff66;}
	.home_ctn{margin:50px 0;}
	#Carouselfigure2 .carousel_items{
		background-color: inherit;
		box-shadow: none;
	}
	.home_area_spotlight{
		background-image: url(img/background_spotlight.jpg);
		height: 353px;
		box-shadow: 3px 3px 5px #000;
		margin-right: 10px;
		background-repeat: no-repeat;
		display: inline-block;
		background-size: 180%;
	}
	.spotlight_img{
		width: 306px;
		height: 230px;
		overflow: hidden;
	}
	.spotlight_img img{
		height: 230px;
		width: 306px;
	}
	.spotlight_content{
		padding: 8px 16px;
		width: 274px;
		height: 107px;
	}
	.spotlight_body p{
		color: #acdbf5;
	}
	.discount_block.large{
		position: relative;
		display: block;
		left: -2px;
		bottom: -5px;
	}
	.discount_block.large .discount_pct{
		line-height: 34px;
		padding: 0 5px;
		font-size: 26px;
	}
	.discount_block.large .discount_prices{
		background-color: rgba(0,0,0,.6);
		padding: 4px 10px 4px 7px;
		line-height: 13px;
		vertical-align: bottom;
	}
	.discount_block.large span{display: block;}
	.specials_target{
		display: inline-block;
		width: 300px;
		height: 168px;
		margin-bottom: 15px;
		box-shadow: 3px 3px 5px #000;
		background: linear-gradient( to bottom, #ffffff 5%, #abdaf4 95%);
		position: absolute;
		top: 0;
		right: 0;
	}
	.capsule img{
		width: 300px;
		height: 120px;
	}
	.dailydeal_desc{
		display: inline-block;
		padding: 0px 7px 4px 7px;
	}
	.todayspecial{
		color: #283846;
		font-size: 11px;
	}
	.dailydeal_countdown{
		background-color: #4f95bd;
		color: #c4e4f2;
		font-size: 10px;
		line-height: 13px;
		padding: 0 4px;
		margin-top: 4px;
	}
	.specials_target .discount_block.large{
		position: absolute;
		display: inline-block;
		bottom: 10px;
		left: 170px;
	}
	.specials_target.tracked{
		position: absolute;
		top: 185px;
		right: 0;
	}
	.big_buttons{
		margin: 40px 0;
	}
	.button_container div{
		display: inline-block;
		margin-right: 8px;
		text-align: center;
	}
	.button_container a{
		color: #66c0f4;
		display: block;
		width: 226px;
		height: 58px;
		font-weight: 300;
		font-size: 18px;
		text-align: center;
		background-image: url(img/background_spotlight.jpg);
		background-position-y:-105px; 
		border-radius: 3px;
		box-shadow: 0 0 4px #000;
		line-height: 58px;
	}
	.button_container a:hover{
		background-position-y:-142px;
		color: #fff; 
	}
	.button_container .tag{
		margin-right: 0;
	}
	.connoisseur{
		margin-top: 40px;
		min-height: 360px;
		margin-bottom: 30px;
	}
	.connoisseur b{
		font-weight: bold;
	}
	.curator_page{
		box-shadow: 0 0 5px #000;
		background: -webkit-linear-gradient( 153deg, rgba( 255, 255, 255, 0.2) 5%,rgba( 255, 255, 255, 0.1) 95%);
		padding: 16px 13px;
		font-weight: normal;
		position: relative;
		min-height: 342px;
	}
	.profile{
		display: flex;
		margin-bottom: 20px;
	}
	.profile img{border: 1px solid #fff;}
	.follow{
		display: flex;
		flex-direction:column;
		margin-left: 15px;
	}
	.name{
		font-size: 19px;
		font-weight: 300;
		color: #c7d5e0;
	}
	.name span{color: #eff3f6;}
	.actions{
		display: flex;
		padding: 2px;
		margin-top: 6px;
		background-color: rgba(0,0,0,.2);
		width: fit-content;
	}
	.actions a{
		border-radius: 2px;
		padding: 4px 12px;
		display: inline-block;
		color: #D2E885;
		background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
		height: 24px;
		font-size: 15px;
	}
	.actions a:hover{background: -webkit-linear-gradient( top, #a1bf07 5%, #80a006 95%);}
	.followers{
		margin-left: 5px;
		padding-right: 20px;
	}
	.followers span{
		font-size: 15px;
		display: block;
	}
	.curations{display: flex;}
	.curations>div{width: 220px;}
	.store_capsule{
		position: relative;
		width: 100%;
		box-shadow: 0 0 5px #000;
		vertical-align:top;
		display: inline-block;
		height: 104px;
	}
	.store_capsule img{width: 100%;}
	.discount_block_inline{
		position: absolute;
		right: 0;
		bottom: 0;
		display: inline-block;
		padding: 5px;
		line-height: 17px;
	}
	.discount_block_inline span{
		background-color: rgba(20,31,44,.7);
		color: #fff;
		padding: 2px 5px;
	}
	.detail{margin-right: 8px;}
	.detail p{
		font-size: 13px;
		letter-spacing: 2px;
		font-weight: 300;
		line-height: 23px;
		color: #66c0f4;
	}
	.detail>div{
		padding-right: 12px;
		line-height: 17px;
		font-weight: 300;
	}
	.carousel_items.auto{height: auto;}
	.tab_container{
		background: linear-gradient( to bottom, rgba(42,71,94,1.0) 5%, rgba(42,71,94,0.0) 70%);
		margin-top: 80px;
		padding-top: 1px;
		height: 800px;
	}
	.tab_container>div{margin-top: -31px;}
	.merchandise{
		height: 31px;
		margin-bottom: 8px;
	}
	.merchandise li{
		float: left;
		cursor: pointer;
		color: #4f94bc;
		font-size: 13px;
		padding: 0 10px;
		margin-right: 5px;
		line-height: 31px;
	}
	.merchandise>li:hover{color: #fff;}
	.merchandise .tab_content{
		background-color: #2a475e;
		font-size: 14px;
		color: #fff;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	.tab_nav{
		width: 940px;
		overflow: hidden;
		display: none;
	}
	.tab_nav.prev{display: block;}
	.home_leftcol{
		float: left;
		width: 618px;
		padding-right: 14px;
	}
	.home_leftcol>a{
		display: block;
		padding-right: 14px;
		height: 69px;
		margin-bottom: 5px;
		background: rgba(0,0,0,.2);
		padding-left: 198px;
		position: relative;
	}
	.home_leftcol .app{
		background: linear-gradient( to right, #c6e6f8 5%,#95bcd3 95%);
		margin-right: -14px;
	}
	.app .discount_final_price{color: #263645;}
	.app .tab_item_name{color: #10161b;}
	.tab_item_cap{
		position: absolute;
		top: 0;
		left: 0;
	}
	.home_leftcol .tab_item_discount{
		float: right;
		margin-right: 16px;
		margin-top: 10px;
		font-size: 13px;
	}
	.app .tab_item_discount{margin-right: 30px;}
	.tab_item_discount span{display: block;}
	.discount_final_price{color: #acdbf5;}
	.tab_item_content{padding-top: 7px;}
	.tab_item_content p{
		color: #c7d5e0;
		font-size: 15px;
		line-height: 18px;
	}
	.tab_item_details{
		color: #384959;
		line-height: 20px;
	}
	.tab_item_details span{
		display: inline-block;
		background-repeat: no-repeat;
		width: 20px;
		height: 20px;
		vertical-align: bottom;
		opacity: 0.3;
	}
	.win{background-image: url(img/icon_platform_win.png);}
	.mac{background-image: url(img/icon_platform_mac.png);}
	.linux{background-image: url(img/icon_platform_linux.png);}
	.app .win{background-image: url(img/icon_platform_win_dark.png);}
	.app .mac{background-image: url(img/icon_platform_mac_dark.png);}
	.app .linux{background-image: url(img/icon_platform_linux_dark.png);}
	.home_rightcol{
		float: right;
		width: 308px;
		background: linear-gradient( to right, #95bbd4 5%,#859bac 95%);
		position: relative;
		height: 735px;
	}
	.tab_preview{
		position: absolute;
		top: 9px;
		left: 16px;
		display: none;
	}
	.tab_preview h2{
		font-size: 21px;
		color: #263645;
		line-height: 30px;
		letter-spacing: 0;
		margin-bottom: 7px;
	}
	.tab_preview.focus{display: block;}
	.tab_review_summary{
		padding: 5px 7px;
		margin-bottom: 10px;
		width: 258px;
		border-radius: 2px;
		background-color: rgba( 38, 54, 69, 0.6);
	}
	.evaluate{color: #66c0f4;}
	.tags{height: 22px;}
	.tags a{
		background-color: rgba( 38, 54, 69, 0.6);
		padding: 2px 6px;
		line-height: 19px;
		margin-right: 2px;
		border-radius: 2px;
		margin-bottom: 3px;
		font-size: 11px;
		color: #fff;
	}
	.tags a:hover{color: #66c0f4;}
	.screenshot{
		width: 258px;
		margin-top: 5px;
		background-size: cover;
		background-position: center center;
	}
	.screenshot img{width: 100%;}
	.tab_see_more{
		text-align: right;
		background-color: rgba(0,0,0,.2);
		padding: 5px;
	}
	.tab_see_more a{
		padding: 5px 16px;
		line-height: 24px;
		border: 1px solid rgba(255,255,255,.4);
		border-radius: 2px;
		color: #fff;
		margin: 0 2px;
	}
	.tab_see_more a:hover{border: 1px solid rgba(255,255,255,1);}
	#chart4>span{top: 15px;}
	.cheap{overflow: hidden;}
	.cheap a{
		display: block;
		float: left;
		width: 229px;
		margin-left: 8px;
		box-shadow: 0 0 5px #000;
		background:linear-gradient( -45deg, rgba(64,121,153,1) 5%,rgba(42,62,89,1) 95%);
	}
	.cheap .one{margin-left: 0;}
	.cheap img{width: 100%;}
	.discount_inline{
		padding: 5px;
		text-align: right;
		line-height: 15px;
	}
	.discount_inline .discount_prices{background-color: rgba(20,31,44,0.4)}
	.renewal{margin-bottom: 40px;}
	.marketingmessage a{
		display: inline-block;
		margin-right: 8px;
		background: linear-gradient( 135deg, rgba(37,49,63,1) 5%,rgba(54,97,125,1) 95%);
	}
	.marketingmessage img{width: 368px;}
	.content_login{
		background-color: #000;
		padding-top: 25px;
	}
	.more_content_title{
		font-size: 24px;
		color: #67c1f5;
		text-align: center;
		background-image: url(img/下载.png);
		background-repeat:repeat-x;
	}
	.more_content_title span{
		background-color: #000;
		padding: 0 10px;
	}
	.sign_in_ctn{
		height: 108px;
		padding: 16px;
		padding-bottom: 30px;
		margin-bottom: 30px;
		text-align: center;
		font-size: 15px;
		color: #8f98a0;
	}
	.signin_buttons_ctn{margin-top: 15px;}
	.btn_green{
		display: inline-block;
		border-radius: 4px;
		border: 2px solid #172030;
		padding: 0 16px;
		line-height: 32px;
		color: #D2E885;
		background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
	}
	.btn_green:hover{
		background: #a4d007;
		color: #fff;
	}
	.register{color: #fff;}
	.register:hover{color: #66c0f4;}
	.footer{
		padding: 16px 0 50px 0;
		background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 100%);
	}
	.footer.bottom{
		position: absolute;
		left: 0;
		right: 0;
		top: 660px;
	}
	.footer_content{
		width: 940px;
		margin: 0 auto;
		padding-top: 16px;
		padding-left: 234px;
		overflow: hidden;
	}
	.rule{height: 8px;}
	.footer_logo_steam{
		float: right;
		padding-top: 2px;
	}
	.footer_logo{
		float: left;
		padding-top: 2px;
	}
	.footer_text{
		float: left;
		margin-left: 12px;
		color: #8F98A0;
		line-height: 16px;
	}
	.footer_text a{color: #C6D4DF;}
	.footer_text a:hover{color: #fff;}
	.valve_links{
		margin-top: 8px;
		float: left;
		font-size: 13px;
	}
	.valve_links a{color: #C6D4DF;}
	.valve_links a:hover{color: #fff;}
	.valve_links img{vertical-align: bottom;}
	.page_content{
		width: 940px;
		margin: 0 auto;
	}
	.page_content.move{padding-top: 1px;}
	.page_header_ctn{
		background-image: url(img/cluster_bg_2.png);
		background-repeat: no-repeat;
		background-position: bottom center;
		margin-bottom: -94px;
		padding-bottom: 64px;
	}
	.page_header_ctn h2{
		font-weight: 300;
		font-size: 18px;
		color: #67c1f5;
	}
	.leftcol{
		width: 616px;
		float: left;
	}
	.leftcol a{color: #fff;}
	.page_header_ctn .leftcol a:hover{color: #66c0f4;}
	.checkout_box{
		position: relative;
		background-color: rgba(0,0,0,0.2);
	}
	.loginbox{
		padding: 16px;
		overflow: hidden;
	}
	.loginbox.Left{min-height: 352px;}
	.loginbox.Right{min-height: 364px;}
	.loginbox_left{
		float: left;
		position: relative;
		width: 274px;
		padding: 0 16px 14px 0;
	}
	.loginbox_left h2{

	}
	.loginbox_sep{
		float: left;
		width: 2px;
		height: 210px;
		border-left: 1px solid #38444e;
	}
	.loginbox_right{
		float: left;
		position: relative;
		width: 274px;
		padding: 0 0 14px 16px;
	}
	.login_row{margin-bottom: 18px;}
	.login_row.mima{margin-bottom: 5px;}
	#landing{vertical-align: text-bottom;}
	.login_row input{
		background-color: rgba( 0, 0, 0, 0.2 );
		color: #fff;
		border: 1px solid #000;
		border-radius: 3px;
		box-shadow: 1px 1px 0px #45556c;
		padding: 5px;
		margin: 4px 0;
		width: 264px;
		height: 18px;
		font-size: 16px;
		line-height: 21px;
	}
	.btn_ctn{
		padding-top: 10px;
		height: 33px;
	}
	button{
		display: inline-block;
		cursor: pointer;
		color: #67c1f5;
		background-color: rgba( 103, 193, 245, 0.2 );
		border-radius: 2px;
		border: none;
		padding: 1px 16px;
		font-size: 15px;
		line-height: 30px;
	}
	button:hover{
		background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
		color: #fff;
	}
	.joinFree{margin-bottom: 95px;}
	.rightcol{
		float: right;
		margin-left: 14px;
		width: 308px;
	}
	.discolour{color: #fff;}
	.discolour:hover{color: #66c0f4;}
	.rightcol h2{margin-bottom: 5px;}
	.havelist li{
		line-height: 22px;
		list-style-position: inside;
		list-style-type: square;
	}
	.footer_nav li{
		border-radius: 2px;
		border: none;
		padding: 1px 16px;
		display: inline-block;
		cursor: pointer;
		color: #67c1f5;
		background-color:rgba( 103, 193, 245, 0.2 ); 
		line-height: 20px;
		margin-right: 6px;
	}
	.footer_nav li:hover{
		background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
		color: #fff;
	}
	.storeHomepage6{
		top: 20px;
		width: 118px;
	}
	.menuitem:hover .storeHomepage6{
		opacity: 1;
		height: 906px;
	}
	.storeHomepage7{
		top: 20px;
		width: 128px;
	}
	.menuitem:hover .storeHomepage7{
		opacity: 1;
		height: 92px;
	}
	.storeHomepage8{
		top: 20px;
		width: 116px;
	}
	.menuitem:hover .storeHomepage8{
		opacity: 1;
		height: 92px;
	}
	.storeHomepage9{
		top: 20px;
		width: 64px;
	}
	.menuitem:hover .storeHomepage9{
		opacity: 1;
		height: 92px;
	}
	.storeHomepage10{
		top: 20px;
		width: 120px;
	}
	.menuitem:hover .storeHomepage10{
		opacity: 1;
		height: 92px;
	}
	.game_page_background{
		background-image: url(img/page_bg_generated_v6b.jpg);
		background-repeat: no-repeat;
		background-position: center top;
		position: relative;
	}
	.breadcrumbs{
		color: #56707f;
		padding-top: 10px;
	}
	.breadcrumbs a{color: #8f98a0;}
	.breadcrumbs a:hover{color: #fff;}
	.apphub_HeaderStandardTop{
		min-height: 46px;
		position: relative;
	}
	.apphub_AppName{
		color: #fff;
		font-size: 26px;
		line-height: 32px;
	}
	.apphub_OtherSiteInfo{
		position: absolute;
		top: 0;
		right: 0;
	}
	.apphub_OtherSiteInfo a{display: inline-block;}
	.game_background_glow{
		background-image: url(img/game_page_background_shadow.png);
		background-position: bottom;
		background-repeat: no-repeat;
	}
	.block_content{
		background: linear-gradient(to right,  rgba(0,0,0,0) 50%,rgba(0,0,0,0.4) 100%);
		padding-bottom: 12px;
	}
	.block .rightcol{
		width: 324px;
		margin-left: 0;
	}
	.block .rightcol a{color: #67c1f5;}
	.highlight{
		margin-right: 16px;
		overflow: hidden;
	}
	.highlight_player_area{
		overflow: hidden;
		height: 340px;
	}
	.highlight_player_area img{
		width: 100%;
		height: 100%;
	}
	.highlight_player_area a{display: block;}
	.highlight_player_area video{width: 100%;}
	.highlight_strip{
		margin: 4px 0;
		position: relative;
		height: 69px;
	}
	.highlight_strip_scroll{
		width: 2500px;
		position: absolute;
	}
	.highlight_selector{
		position: absolute;
		background-image: url(img/game_highlight_activethumb.png);
		width: 116px;
		height: 77px;
		top: -10px;
		z-index: 3;
		pointer-events:none;
	}
	.highlight_item{
		float: left;
		height: 65px;
		width: 116px;
		background-color: #000;
		cursor: pointer;
		margin: 2px;
	}
	.highlight_item img{width: 99%;}
	.slider_ctn{
		height: 18px;
		position: relative;
	}
	.slider_left,.slider_right{
		position: absolute;
		top: 0;
		bottom: 0;
		width: 38px;
		background-color: rgba( 35, 60, 81, 0.4);
		cursor: pointer;
		border-radius: 3px;
	}
	.slider_left{left: 0;}
	.slider_right{right: 0;}
	.slider_left:hover,.slider_right:hover{background: linear-gradient(135deg,  #3d6c8d 0%,#2e5470 100%);}
	.slider_left span,.slider_right span{
		background-image: url(img/icon_cluster_controls.png);
		background-repeat: no-repeat;
		display: inline-block;
		width: 9px;
		height: 7px;
		margin-top: 5px;
	}
	.slider_left span{
		background-position: -18px 0px;
		margin-left: 13px;
	}
	.slider_right span{
		background-position: -9px 0px;
		margin-left: 15px;
	}
	.slider_left:hover span{background-position: -18px -7px;}
	.slider_right:hover span{background-position: -9px -7px;}
	.slider{
		position: absolute;
		right: 39px;
		left: 39px;
		top: 0;
		bottom: 0;
		background-color: rgba(0,0,0,.2);
		border-radius: 3px;
	}
	.handle{
		position: absolute;
		top: 0;
		bottom: 0;
		border-radius: 3px;
		width: 60px;
		height: 18px;
		cursor: pointer;
		background-color: rgba(35,60,81,.4);
	}
	.handle:hover{background: linear-gradient(135deg,  #3d6c8d 0%,#2e5470 100%);}
	.block_content .rightcol{
		width: 324px;
		margin-left: 0;
	}
	.game_header_image_ctn{margin-bottom: 7px;}
	.game_header_image_ctn img{width: 100%;}
	.game_description_snippet{
		font-size: 13px;
		line-height: 18px;
		padding-right: 16px;
	}
	.user_reviews{
		margin-top: 10px;
		color: #556772;
	}
	.user_reviews_summary_row{
		cursor: pointer;
		line-height: 16px;
		position: relative;
	}
	.subtitle{
		float: left;
		min-width: 94px;
		padding-right: 10px;
	}
	.summary{
		overflow: hidden;
		white-space: nowrap;
   		text-overflow: ellipsis;
   		margin-right: 0;
	}
	.summary span{color: #B9A074;}
	.summary a:hover{color: #fff;}
	.store_tooltip{
		position: absolute;
		top: -52px;
		left: 0;
		z-index: 3;
		background-color: #c2c2c2;
		color: #3d3d3f;
		border-radius: 3px;
		padding: 5px;
		max-width: 225px;
		box-shadow: 0 0 3px #000;
		display: none;
	}
	.dev_row{
		line-height: 16px;
		display: flex;
	}
	.dev_row.date{
		padding-top: 9px;
		padding-bottom: 13px;
	}
	.more_btn{
		padding: 0 4px;
		color: #67c1f5;
		border-radius: 2px;
	    background-color: rgba( 103, 193, 245, 0.2 );
	    cursor: pointer;
	    margin: 0 8px 0 3px;
	    height: 15px;
	}
	.more_btn:hover{background: linear-gradient( -60deg, #67c1f5 5%,#417a9b 95%);}
	.glance_tags_ctn{
		margin-top: 10px;
		color: #556772;
	}
	.glance_tags{height: 22px;}
	.glance_tags a,.app_tag{
		display: inline-block;
		line-height: 19px;
		padding: 0 7px;
		background-color: rgba( 103, 193, 245, 0.2 );
	    margin-right: 2px;
	    border-radius: 2px;
	    margin-bottom: 3px;
	}
	.glance_tags a:hover,.app_tag:hover{
		background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%);
		color: #fff;
	}
	.app_tag{
		cursor: pointer;
		color: #67c1f5;
	}
	.queue_ctn{
		background-color: rgba(0,0,0,.2);
		margin-bottom: 16px;
	}
	.queue_actions_ctn{padding: 16px;}
	.queue_actions_ctn a{color: #fff;}
	.queue_actions_ctn a:hover{color: #67c1f5;}
	.rightcol.game_meta_data{margin-top: 16px;}
	.leftcol.game_meta_data{margin-top: 16px;}
	.game_meta_data a{color: #67c1f5;}
	.game_meta_data a:hover{color: #fff;}
	.game_area_purchase_game_wrapper{margin-bottom: 28px;}
	.game_area_purchase_game{
		position: relative;
		background: linear-gradient(135deg,  rgba(97,100,101,0.3) 0%,rgba(226,244,255,0.3) 100%);
		color: #b0aeac;
		padding: 16px;
		padding-bottom: 26px;
	}
	.game_area_purchase_game h1{
		font-size: 21px;
		color: #fff;
		font-weight: normal;
	}
	.game_area_purchase_game p{margin-bottom: 8px;}
	.game_area_purchase_game p a{color: #fff;}
	.game_area_purchase_game p a:hover{color: #67c1f5;}
	.game_area_purchase_platform{float: right;}
	.game_area_purchase_platform span{
		display: inline-block;
		width: 20px;
		height: 20px;
		background-repeat: no-repeat;
	}
	.game_purchase_action{
		position: absolute;
		right: 16px;
		bottom: -17px;
	}
	.game_purchase_action_bg{
		height: 32px;
		display: inline-block;
		background-color: #000;
		padding: 2px;
		border-radius: 2px;
	}
	.game_purchase_price{
		font-size: 13px;
		display: inline-block;
		margin-left: 2px;
		padding: 0 12px;
		padding-top: 6px;
	}
	.btn_addtocart{display: inline-block;}
	.btn_addtocart a{
		display: inline-block;
		padding: 0 15px;
		font-size: 15px;
		line-height: 32px;
		border-radius: 2px;
		background: linear-gradient( to bottom, rgba(121,153,5,1) 5%, rgba(83,105,4,1) 95%);
		color: #D2E885;
	}
	.btn_addtocart a:hover{background: rgba(164,208,7,1);}
	.bundle_label{
		cursor: default;
		color: #A4D7F5;
		font-size: 18px;
		font-weight: 200;
	}
	.bundle_label_tooltip{
		cursor: default;
		color: #8f98a0;
		font-size: 12px;
	}
	.bundle_contents_preview{
		padding: 6px;
		margin: 0 -6px;
		background-color: rgba(0,0,0,.5);
		height: 45px;
	}
	.bundle_contents_preview a{
		display: block;
		float: left;
		position: relative;
	}
	.game_purchase_action_bg .btn_medium{
		display: inline-block;
		border-radius: 2px;
		color: #A4D7F5;
		background: linear-gradient( to bottom, rgba(47,137,188,1) 5%, rgba(23,67,92,1) 95%);
		padding: 1px 15px;
		line-height: 30px;
		font-size: 15px;
	}
	.game_purchase_action_bg .btn_medium:hover{background: linear-gradient( to bottom, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);}
	.bundle_base_discount{
		margin-left: 3px;
		height: 32px;
		display: inline-block;
		line-height: 32px;
		font-size: 25px;
		padding: 0 6px;
		border-right: 1px solid #626366;
		vertical-align: top;
	}
	.game_purchase_discount{
		height: 32px;
		display: inline-block;
		margin-left: 2px;
		vertical-align: top;
	}
	.game_purchase_action_bg .discount_final_price{
		font-size: 14px;
		text-align: right;
	}
	.your_price_label{
		font-size: 10px;
	}
	.game_area_dlc_section{
		margin-top: 60px;
		margin-bottom: 12px;
		overflow: hidden;
	}
	.game_page_background h2{
		padding-top: 2px;
		font-size: 17px;
		color: #fff;
		font-weight: normal;
		letter-spacing: 2px;
		line-height: 26px;
		background-image: url(img/maincol_gradient_rule.png);
		background-repeat: no-repeat;
		background-position: bottom;
		margin-bottom: 1px;
	}
	.game_area_dlc_list{margin-bottom: 11px;}
	.gameDlcBlocks{display: none;}
	.gameDlcBlocks.focus{display: block;}
	.gameDlcBlocks a{
		display: block;
		padding: 4px 14px;
		background-color: #000;
		background: linear-gradient(135deg, rgba(97,100,101,0.3) 0%,rgba(226,244,255,0.3) 100%);
		margin-bottom: 1px;
		color: #a8b2ba;
		position: relative;
	}
	.gameDlcBlocks a:hover{background-color: #417a9b;}
	.gameDlcBlocks span{
		display: block;
		float: right;
		color: #fff;
	}
	.dlc_footer{
		margin-top: 1px;
		color: #626366;
		font-size: 10px;
		overflow: hidden;
	}
	.dlc_footer div{
		padding: 5px 8px;
		float: right;
	}
	.dlc_footer_element{
		cursor: pointer;
		border-radius: 2px;
		color: #898a8c;
		background-color: rgba( 103, 193, 245, 0.1);
		margin-left: 1px;
	}
	.dlc_footer_element:hover{
		background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%);
		color: #fff;
	}
	.dlc_footer_element span{
		display: inline-block;
		background-image: url(img/btn_arrow_down_padded.png);
		background-repeat: no-repeat;
		background-position: right;
		padding-left: 5px;
		padding-right: 18px;
	}
	.game_bg{
		background-color: #1b2838;
		background-image: none;
	}
	.game_purchase{
		float: right;
		margin-top: 3px;
		display: none;
	}
	.early_access_announcements{
		margin-top: 30px;
		overflow: hidden;
	}
	.early_access_announcements h2{margin-bottom: 10px;}
	.early_access_announcements h2 a{
		display: block;
		padding: 2px 10px;
		float: right;
		background-color: rgba( 103, 193, 245, .2);
		border-radius: 1px;
		font-size: 12px;
		line-height: normal;
		letter-spacing: 0;
	}
	.early_access_announcements h2 a:hover{background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%);}
	.early_access_announcements em{
		font-style: normal;
		margin-left: 6px;
		color: #67c1f5;
	}
	.post{
		float: left;
		width: 47%;
		color: #8f98a0;
		font-size: 13px;
		font-weight: 300;
		line-height: 18px;
	}
	.post h1 a{
		color: #fff;
		font-size: 24px;
		line-height: 29px;
		font-weight: normal;
		cursor: pointer;
	}
	.contain{
		height: 195px;
		overflow: hidden;
	}
	.purchase_area_spacer{height: 2px;}
	.contain img{width: 100%;}
	.post .hr{
		background-color: #2f4459;
		margin: 5px 0;
	}	
	.comments{
		display: block;
		float: right;
		color: #56707F;
		font-size: 11px;
	}
	.more{
		font-size: 11px;
	}
	.divider{
		width: 5%;
		margin-top: 20px;
		height: 190px;
		float: left;
	}
	.game_page_autocollapse_ctn{
		padding-bottom: 20px;
		position: relative;
	}
	.game_page_autocollapse{
		height: 850px;
		overflow: hidden;
	}
	.game_page_autocollapse_fade{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 73px;
		background-image: url(img/xiazai.png);
		background-repeat: repeat-x;
		background-position: top;
		z-index: 1;
	}
	.game_area_description{
		font-size: 14px;
		margin-top: 30px;
		line-height: 21px;
	}
	.game_area_description h2{margin-bottom: 10px;}
	.game_page_autocollapse_readmore{
		position: absolute;
		right: 0;
		bottom: 0;
		height: 20px;
		line-height: 20px;
		cursor: pointer;
		color: #537ca6;
		font-size: 10px;
		padding-right: 12px;
		background-image: url(img/xia.png);
		background-repeat: no-repeat;
		background-position: right;
	}
	.game_page_autocollapse_readmore:hover{color: #fff;}
	.game_page_autocollapse.sys_req{
		height: auto;
		margin-top: 30px;
	}
	.sysreq_tabs{
		padding-top: 8px;
		padding-left: 5px;
		margin-bottom: 15px;
		overflow: hidden;
		background: linear-gradient( to right, rgba(58,110,139,0.2) 0%,rgba(58,110,139,0) 100%);
	}
	.sysreq_tabs li{
		float: left;
		padding: 0 10px;
		line-height: 20px;
		margin-right: 10px;
		color: #3B6E8D;
		cursor: pointer;
	}
	.sysreq_tabs li:hover{color: #fff;}
	.sysreq_tabs .active{
		background-color: #18222e;
		color: #67c1f5;
	}
	.sysreq_tabs .active:hover{color: #67c1f5;}
	.sysreq_contents{margin-top: 10px;}
	.game_area_sys_req{
		display: none;
		line-height: 22px;
	}
	.game_area_sys_req.focus{display: block;}
	.game_area_sys_req p{color: #4582A5;}
	.game_area_sys_req span{
		color: #61686D;
		margin-right: 4px;
		margin-bottom: 2px;
	}
	.recommended_block{
		margin-top: 20px;
		margin-bottom: 14px;
	}
	.recommended_block h2{
		margin-bottom: 10px;
		padding-bottom: 3px;
	}
	.recommended_block h2 a{
		display: block;
		padding: 2px 4px;
		float: right;
		background-color: rgba(103, 193, 245, 0.2);;
		font-size: 11px;
		border-radius: 1px;
		line-height: normal;
		letter-spacing: 0;
	}
	.recommended_block h2 a:hover{background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%);}
	.store_horizontal_autoslider_ctn{
		height: 132px;
		overflow: hidden;
		margin-bottom: 2px;
		position: relative;
	}
	.small_cap{
		width: 2500px;
		position: absolute;
		left: 0;
		top: 0;
	}
	.small_cap a{
		display: block;
		float: left;
		background-color: rgba( 0, 0, 0, 0.2 );
		border: 1px solid rgba(0,0,0,0);
		height: 100px;
		padding: 15px;
		margin-right: 2px;
	}
	.small_cap a:hover{border: 1px solid rgba( 103, 193, 245, 0.5 );}
	.small_cap img{width: 171px;}
	.small_cap p{
		font-size: 13px;
		color: #8f98a0;	
	}
	.small_cap .discount_final_price{font-size: 14px;}
	.slider_ctn.store_autoslider{background-color: #122333;}
	.store_autoslider .slider_left,.store_autoslider .slider_right{background-color: rgba(0,0,0,.4);}
	.store_autoslider .handle{background-color: rgba(0,0,0,.5);}
	.steam_curators_block{margin: 40px 0 30px 0;}
	.steam_curators_block h2 a{
		display: block;
		padding: 2px 4px;
		float: right;
		background-color: rgba(103, 193, 245, 0.2);;
		font-size: 11px;
		border-radius: 1px;
		line-height: normal;
		letter-spacing: 0;
	}
	.steam_curators_block h2 a:hover{background: linear-gradient(135deg,  #67c1f5 0%,#417a9b 100%);}
	.no_curators_followed{
		padding: 20px;
		background-color: rgba(0,0,0,.2);
		font-size: 14px;
		color: #acb2b8;
	}
	.no_curators_followed a{color: #fff;}
	.no_curators_followed a:hover{color: #67c1f5;}
	.rightcol.game_meta_data a:hover{color: #fff;}
	.rightbox{
		background: linear-gradient(to right,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
		padding: 16px;
		margin-bottom: 8px;
	}
	.heading{
		padding: 10px 18px;
		font-size: 16px;
		color: #fff;
		background-color: rgba(0,0,0,.2);
		margin-bottom: 0;
	}
	.recommendation_noinfo{
		color: #acb2b8;
		font-size: 14px;
		line-height: 22px;
	}
	.recommendation_noinfo a{
		border-radius: 2px;		
		padding: 1px 16px;
		display: inline-block;
		color: #67c1f5;
		line-height: 30px;
		background: rgba( 103, 193, 245, 0.2 );
	}
	.recommendation_noinfo a:hover{background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);}
	.category_block li{
		height: 26px;
		margin-bottom: 2px;
		position: relative;
	}
	.icon{
		position: absolute;
		left: 0;
		width: 30px;
		height: 22px;
		padding-top: 5px;
		padding-left: 6px;
		background-color: rgba(0,0,0,.2);
	}
	.icon a{display: inline-block;}
	.icon img{
		width: 26px;
		height: 16px;
	}
	.genre{
		margin-left: 37px;
		height: 21px;
		padding-top: 5px;
		padding-left: 8px;
		line-height: 18px;
		background-color: rgba(103,193,245,.1);
		border-radius: 1px;
		display: block;
	}
	.genre:hover{background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);}
	.box_title{
		color: #8f98a0;
		margin-bottom: 2px;
	}
	.all_languages a{
		margin-top: 5px;
		display: inline-block;
	}
	.game_language_options{
		border-collapse: collapse;
	}
	.game_language_options tr{border-bottom: 1px solid #626366;}
	.game_language_options th{color: #b0aeac;}
	.game_language_options th,.game_language_options td{width: 62px;}
	.game_language_options td{
		color: #8f98a0;
		padding: 3px 0;
		text-align: center;
	}
	.game_language_options .checkcol{
		width: 94px;
		text-align: left;
	}
	.Violence{position: relative;}
	.Violence a{
		display: inline-block;
	}
	.Violence span{
		display: block;
		position: absolute;
		top: 16px;
		left: 86px;
	}
	.communitylink_achievement_images{
		padding: 4px 0;
		margin-bottom: 5px;
		overflow: hidden;
	}
	.communitylink_achievement_images div{
		float: left;
		width: 64px;
		height: 64px;
		margin-right: 4px;
	}
	.communitylink_achievement_images a{
		display: inline-block;
		padding-top: 14px;
		font-size: 13px;
		border-radius: 1px;
		background-color: rgba( 103, 193, 245, 0.2 );
		text-align: center;
		line-height: 20px;
		width: 64px;
		height: 50px;
	}
	.communitylink_achievement_images a:hover{background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);}
	.game_details{
		line-height: 20px;
		color: #8f98a0;
	}
	.details_block a{color: #fff;}
	.game_details .details_block a:hover{color: #67c1f5;}
	.linkbar a{
		min-height: 17px;
		padding: 4px 0 4px 8px;
		line-height: 17px;
		background-color: rgba( 103, 193, 245, 0.1 );
		border-radius: 1px;
		display: block;
		margin-bottom: 2px;
	}
	.details_block.linkbar a:hover{
		color: #fff;
		background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
	}
	.recommendation_noinfo span{
		display: inline-block;
		width: 16px;
		height: 16px;
		background-image: url(img/icons_16.png);
		background-repeat: no-repeat;
		background-position: -256px 0px;
		vertical-align: top;
		margin: 7px 0;
	}
	.game_area_metascore{overflow: hidden;}
	.score{
		width: 50px;
		height: 50px;
		float: left;
		line-height: 50px;
		color: #fff;
		font-size: 25px;
		background-color: #FFCC33;
		text-align: center;
	}
	.game_area_metascore .logo{
		background-image: url(img/mc_logo_no_text.png);
		background-repeat: no-repeat;
		height: 35px;
		width: 35px;
		margin: 10px 0 0 10px;
		padding-top: 0;
	}
	.wordmark{
		float: left;
		width: 180px;
	}
	.wordmark h4{
		color: #fff;
		margin-left: 2px;
		margin-top: 4px;
		line-height: 26px;
		font-size: 26px;
	}
	.wordmark a{
		margin-left: 2px;
		color: #fff;
	}
	.rightbox .wordmark a:hover{color: #67c1f5;}
	.AwardsDefault{padding: 5px 0;}
	.AwardsDefault p{
		font-weight: bold;
	}
	.review_ctn{border-top: 1px solid #000;}
	.app_reviews_area h2{
		margin-top: 40px;
		padding-bottom: 4px;
		background-image: url(img/maincol_gradient_rule.png);
		background-repeat: no-repeat;
		background-position: bottom;
	}
	.high_volume_all{
		background: linear-gradient( to bottom, rgba( 212, 212, 212, 0.67) 5%, rgba( 214, 214, 214, 0.75) 95%);
		box-shadow: 0 0 5px #000;
		padding: 10px 15px;
		margin-bottom: 10px;
		overflow: hidden;
	}
	.review_recent_events_icon{
		float: left;
		margin-right: 10px;
		margin-top: 2px;
	}
	.recent_review_title{
		font-size: 20px;
		font-weight: bold;
		color: #000;
	}
	.recent_review_title span{font-weight: normal;}
	.high_volume_all p{color: #d3dade;}
	.high_volume_all p span{
		display: inline-block;
		border-radius: 2px;
		cursor: pointer;
		padding: 1px 6px;
		line-height: 20px;
		color: #fff;
		border: 1px solid rgba(255,255,255,0.4);
	}
	.high_volume_all p span:hover{border: 1px solid #fff;}
	.collapsed{
		background-color: #2a475e;
		box-shadow: 0 0 5px #000;
		overflow: hidden;
	}
	.review_histogram_section{
		width: 585px;
		float: left;
		padding: 10px;
		min-height: 38px;
		border-bottom: 1px solid #000;
	}
	.user_reviews_summary_bar{
		color: #8ba6b6;
		display: inline-block;
		min-width: 320px;
	}
	.title{
		margin-bottom: 5px;
		color: #e5e5e5;
		font-size: 15px;
	}
	.mixed{
		font-size: 17px;
		color: #a8926a;
		cursor: help;
		line-height: 9px;
		text-shadow: 1px 1px rgba(0,0,0,.2);
		font-weight: bold;
	}
	.review_histogram_recent{
		width: 315px;
		float: right;
		background-color: rgba( 148, 217, 255, 0.2 );
		box-shadow: 0 0 5px #000;
		padding: 10px;
		min-height: 38px;
		border-bottom: 1px solid #000;
	}
	.user_reviews_filter_options{
		margin-bottom: 30px;
		background-color: #1f2f42;
	}
	.user_reviews_filter_options li{
		float: left;
		border-left: 1px solid #2a475e;
		padding-right: 10px;
		position: relative;
	}
	.user_reviews_filter_options li:hover{
		background-color: #c6d4df;
	}
	.user_reviews_filter_options li:hover .head{
		background-image: url(img/btn_arrow_down_padded_black.png);
	}
	.user_reviews_filter_options li:hover .user_menu_flyout{display: block;}
	.review_show_graph_button{
		display: inline-block;
		border-radius: 2px;
		padding: 1px;
		cursor: pointer;
		color: #67c1f5;
		background-color: rgba( 103, 193, 245, 0.2 );
	}
	.head{
		cursor: pointer;
		font-size: 10px;
		color: #4582a5;
		background-image: url(img/btn_arrow_down_padded.png);
		background-repeat: no-repeat;
		background-position-x: right;
		background-position-y: center; 
		padding: 10px;
		padding-right: 20px;
	}
	.user_menu_flyout{
		display: none;
		background-color: #c6d4df;
		position: absolute;
		top: 37px;
		left: 0;
		padding: 10px;
		color: #556772;
		line-height: 20px;
	}
	.menu_flyout_content{white-space: nowrap;}
	.menu_flyout_content input{vertical-align: text-top;}
	.menu_flyout_content span{color: #7193a6;}
	.user_reviews_customize_language{
		color: #67c1f5;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 3px 5px;
		border-radius: 2px;
	}
	.user_reviews_customize_language:hover{
		color: #fff;
		background-color: #67c1f5;
	}
	.user_reviews_date_range_explanation{
		border-bottom: 1px solid #4582a5;
		padding-bottom: 10px;
		margin-bottom: 10px;
		white-space: normal;
	}
	.user_reviews_date_range_explanation span{
		border-radius: 2px;
		padding: 1px 6px;
		display: inline-block;
		cursor: pointer;
		color: #A4D7F5;
		background: linear-gradient( to bottom, rgba(47,137,188,1) 5%, rgba(23,67,92,1) 95%);
		line-height: 20px;
	}
	.user_reviews_date_range_explanation span:hover{
		color: #fff;
		background: linear-gradient( to bottom, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);
	}
	.user_reviews_filter{
		float: left;
		padding: 5px 10px;
		border-left: 1px solid #2a475e;
	}
	.user_reviews_filter span{color: #4582a5;}
	.user_reviews_filter select{
		width: 100px;
		background-color: #4582a5;
		font-size: 12px;
		border-radius: 2px;
		margin-left: 5px;
		margin-top: 3px;
	}
	.head span{
		background-color: #a3cf06;
		padding: 0 2px;
		color: #000;
		font-weight: 600;
		border-radius: 2px;
		margin-left: 3px;
	}
	.review_show{float: right;}
	.review_show_graph_button span{
		display: inline;
		padding: 0 5px;
		line-height: 20px;
	}
	.graph_toggle_icon{
		display: inline-block;
		width: 14px;
		height: 16px;
		margin-right: 7px;
		margin-top: 4px;
		background-image: url(img/review_graph_expander.png);
		background-repeat: no-repeat;
		background-position: 0px -12px;
	}
	.review_show .review_show_graph_button:hover{
		background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
		color: #fff;
	}
	.reviews_info_ctn{
		border-bottom: 1px solid #000;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	.reviews_filter_title{
		font-size: 15px;
		color: #c6d4df;
		padding-bottom: 5px;
		display: inline-block;
		margin-right: 5px;
	}
	.active_filter{
		background-color: rgba( 255, 255, 255, 0.2 );
		padding: 5px;
		padding-right: 25px;
		margin-right: 5px;
		border-radius: 2px;
		cursor: pointer;
		background-image: url(img/deleteSearchTerm.png);
		background-repeat: no-repeat;
		background-position: right 5px center;
		display: inline-block;
	}
	.user_reviews_filter_score{
		font-size: 15px;
		padding-top: 10px;
	}
	.user_reviews_filter_score b{font-weight: bold;}
	.user_reviews_filter_score span{
		color: #B9A074;
		font-weight: bold;
		cursor: help;
	}
	.Reviewssummary{overflow: hidden;}
	.Reviewssummary .user_reviews_sub_header{
		font-size: 14px;
		letter-spacing: 0;
		color: #c6d4df;
		margin-top: 0;
		padding-bottom: 5px;
	}
	.user_reviews_sub_header span{color: #56707f;}
	.review_box{
		background-color: rgba( 0, 0, 0, 0.2 );
		margin-bottom: 26px;
	}
	.review_box:hover .leftcol{opacity: 1;}
	.review_box .leftcol{
		width: 184px;
		padding:8px;
		opacity: 0.6;
	}
	.review_box .rightcol{
		float: left;
		width: 400px;
	}
	.avatar{
		float: left;
		padding-right: 8px;
	}
	.avatar a{
		display: inline-block;
		background-color: #90ba3c;
		background: linear-gradient( to bottom, rgba(143,185,59,1) 5%, rgba(110,140,49,1) 95%);
		width: 34px;
		height: 34px;
		padding: 1px;
	}
	.avatar a img{
		background: linear-gradient( to bottom, #66812e 5%, #59702b 95%);
		width: 32px;
		height: 32px;
		padding: 1px;
	}
	.persona_name{
		width: 140px;
		display: inline-block;
		margin-top: -2px;
		margin-bottom: -1px;
		overflow: hidden;
	}
	.persona_name a{
		color: #c1dbf4;
		font-weight: bold;
		font-size: 13px;
	}
	.num_owned_games{
		font-size: 11px;
		line-height: 17px;
	}
	.num_owned_games a{color: #c1dbf4;}
	.num_owned_games a:hover{color: #67c1f5;}
	.num_reviews{
		font-size: 11px;
		margin-top: 2px;
	}
	.num_reviews a{color: #c1dbf4;}
	.num_reviews a:hover{color: #67c1f5;}
	.vote_header{
		margin: 8px 0 13px 0;
		display: block;
		background: rgba(0,0,0,.2);
		height: 40px;
	}
	.vote_header:hover{background-color: rgba( 255, 255, 255, 0.1 );}
	.thumb{
		float: left;
		margin-right: 10px;
	}
	.review_source{
		float: right;
		margin-right: 5px;
		margin-top: 12px;
		opacity: 0.5;
	}
	.groom{
		font-size: 16px;
	    color: #d6d7d8;
	    padding: 3px 0px 0px 0px;
	    line-height: 19px;
	}
	.hours{
		font-weight: 300;
	    font-size: 11px;
	    line-height: 15px;
	    color: #8091a2;
	    opacity: 0.6;
	}
	.postedDate{
		margin-bottom: 8px;
	    color: #8091a2;
	    opacity: 0.6;
	}
	.comment{
		margin-right: 8px;
		font-size: 13px;
	    line-height: 17px;
	    color: #9fb4c9;
	}
	.review_box.partial .comment{
		height: 225px;
		overflow: hidden;
		position: relative;
		margin-right: 8px;
		font-size: 13px;
	    line-height: 17px;
	    color: #acb2b8;
	}
	.bb_h1{
		font-size: 15px;
	    color: #5aa9d6;
	}
	.comment p{text-decoration: underline;}
	.bb_spoiler{
		color: #000;
	    background-color: #000;
	    padding: 0px 8px;
	}
	.gradient{
		    display: block;
	    position: absolute;
	    bottom: 0px;
	    left: 0px;
	    right: 0px;
	    z-index: 1;
	    height: 30px;
	    background: linear-gradient( to bottom, rgba( 22,32,45,0) 5%, rgba( 22,32,45,.95) 95%);
	}
	.posted{
		margin: 10px 0 8px 0;
		color: #626366;
		overflow: hidden;
	}
	.posted span{
		display: block;
		float: right;
		color: #67c1f5;
		cursor: pointer;
		margin-right: 15px;
	}
	.review_box .hr{
		background-color: #363f4c;
    	height: 1px;
    	margin:0;
	}
	.control_block{
		margin: 8px 0;
		display: inline-block;
	}
	.text{
		display: inline-block;
	    margin-right: 9px;
	    color: #8091a2;
	    opacity: 0.6;
	}
	.control_block .btn_grey_black{
		border-radius: 2px;
	    padding: 1px;
	    display: inline-block;
	    color: #66c0f4;
	    background-color: #212c3d;
	}
	.btn_grey_black:hover{
		color: #fff;
		background-color: #66c0f4;
	}
	.btn_grey_black span{
		padding: 0 5px;
	    font-size: 12px;
	    line-height: 20px;
	}
	.ico16{
		display: inline-block;
		width: 16px;
		height: 16px;
		background-image: url(img/icons_16.png);
		background-repeat: no-repeat;
		vertical-align: text-top;
	}
	.thumb_upv6{background-position: -112px -16px;}
	.thumb_downv6{background-position: -64px -16px;}
	.funny{background-position: -208px -16px;}
	.btn_grey_black:hover .thumb_upv6{background-position: -144px -16px;}
	.btn_grey_black:hover .thumb_downv6{background-position: -80px -16px;}
	.btn_grey_black:hover .funny{background-position: -224px -16px;}
	.vote_info{
		padding: 0 9px 8px 0;
		color: #647580;
		min-height: 16px;
	}
	.vote_info a{
		display: block;
		float: right;
		color: #66c0f4;
		background-image: url(img/comment_quoteicon_blue.png);
		background-repeat: no-repeat;
		background-position: right;
		padding-right: 20px;
		height: 16px;
	}
	.vote_info a:hover{
		color: #fff;
		background-image: url(img/comment_quoteicon_bright.png);
	}
	.review_box.short{
		opacity: 0.9;
	}
	.vote_header.short{
		height: 24px;
		margin-top: 0;
	}
	.short .review_source{
		margin-top: 4px;
	}
	.short .thumb img{
		width: 24px;
		height: 24px;
	}
	.short .persona_name{
		float: left;
		width: 120px;
		margin-top: 5px;
   		margin-left: 6px;
   		color: #819db8;
	}
	.ellipsis{
		float: left;
		margin-top: 5px;
    	margin-left: 6px;
	}
	.shortcol{padding-left: 8px;}
	.shortcol .hr{background-color: rgba( 0, 0, 0, 0.5 );}