	*{margin: 0;padding: 0;}
	li{list-style: none;}
	a{text-decoration: none;}
	h2{font-weight: normal;
		font-size: 17px;
		color: #fff;
		margin: 0 0 10px;
		letter-spacing:2px;}
	body{font-family: Arial, Helvetica, sans-serif;
		overflow-x: hidden;
		background-image: url(img/colored_body_top2.png);
		background-size:178% ;
		color: #c6d4df;
		font-size: 12px;
	}
	.clear{clear:both;}
	.responsive{position: relative;}
	.global_header{
		font-size: 14px;
		background-color: #171a21;
		padding: 0 16px;
	}
	.content{
		width: 940px;
		height: 104px;
		margin: 0 auto;
		position: relative;
		right: -90px;
	}
	.logo{
		float: left;
		padding-top: 30px;
		margin-right: 40px;
		width: 176px;
		height: 44px;
	}
	.container{
		position: absolute;
		left: 215px;
	}
	.container li{
		float: left;
		margin-right: 10px;
		margin-top: 32px;
	}
	.container a{
		display: block;
		padding: 10px 5px 3px 5px;
	}
	.content a{
		color: #b8b6b4;
	}
	.content a:hover{
		color: #fff;
	}
	.menuitem{position: relative;}
	.supernav{
		position: absolute;
		height: 0;
		left: -5px;
		top: 35px;
		background-color: #171a21;
		padding: 0 8px;
		overflow: hidden;
		opacity: 0;
		z-index: 2;
		transition:all 0.8s;
	}
	.menuitem:hover .supernav1{
		opacity: 1;
		height: 175px;
	}
	.menuitem:hover .supernav2{
		opacity: 1;
		height: 145px;
	}
	.submenu1{
		width: 48px;
	}
	.submenu2{
		width: 68px;
	}
	.supernav a{
		font-size: 11px;
		padding: 6px 0;
		padding-right: 10px;
	}
	.global_actions{
		float: right;
		display: inline-block;
		width: 210px;
		padding-top: 3px;
		font-size: 11px;
	}
	.header{
		display: inline-block;
		position: relative;
		height: 21px;
		margin-right: 5px;
		width: 90px;
	}
	.header_btn{
		background-image: url(img/btn_header_installsteam_green.png);
		position: absolute;
		top: 6px;
		width: 24px;
		height: 21px;
		z-index: 2;
	}
	.installsteam{
		position: absolute;
		top: 6px;
		left: 20px;
		background-image: url(img/btn_header_installsteam_green.png);
		display: block;	
		padding:0 5px;
		height: 21px;
		line-height: 21px;
		background-position: 0 -21px;
	}
	.global_actions>a{
		padding: 2px 4px;
	}
	.global_actions span{
		color: #b8b6b4;	
	}
	.template_content{
		position: relative;
	}
	.home_page_content{
		padding: 0 16px;
		padding-left: 234px;
		width: 940px;
		margin: 0 auto;
		position: relative;
	}
	.home_page_gutter{
		width: 210px;
		position: absolute;
		left: 0;
	}
	.gutter1 img{
		width: 210px;
	}
	.gutter2{
		margin-bottom: 10px;
	}
	.gutter2 p{
		font-size: 11px;
		margin-bottom: 3px;
	}
	.gutter2 a{
		color: #66c0f4;
		font-size: 13px;
		display: block;
		margin-bottom: 3px;
	}
	.gutter2 a:hover{
		color: #fff;
	}
	.gutter2 i{
		position: relative;
		top: 3px;
		background-image: url(img/store_menu_icons.png);
		background-repeat: no-repeat;
		height: 16px;
		width: 16px;
		margin-right: 2px;
		display: inline-block;
	}
	.store{
		margin-top: 30px;
		margin-bottom: 40px;
		background-color:#366f96; 
		height: 35px;
		font-size: 14px;
	}
	.store li{
		position: relative;
		float: left;
		padding: 0 12px;
		border-right: 1px solid #12171b4d;
		line-height: 35px;
	}
	.store a{
		display: inline-block;
		padding-right: 2px;
		color: #ccc;
		padding: 0 5px;
	}
	.store span{
		background-image: url(img/btn_arrow_down_padded_white.png);
		width: 14px;
		height: 12px;
		display: inline-block;
		background-repeat: no-repeat;
		background-position: -3px 2px;
		cursor: pointer;
	}
	.search{
		position: absolute;
		top: 1px;
		right: -9px;
		width: 25px;
		height: 25px;
		background-image: url(img/search_icon_btn_over.png);
		background-repeat: no-repeat;
	}
	.store .searchbox{
		float: right;
		border-right: none;
		margin-right: 5px;
		height: 27px;
		background-color: #316282;
		border: 1px solid rgba( 0, 0, 0, 0.3);
		padding: 0 6px;
		margin-top: 3px;
		border-radius: 3%;
		width: 200px;
	}
	.store li:hover{
		background-color: #c7d5e0;
	}
	.store li:hover>a{color: #000;}
	.store .searchbox:hover{
		border: 1px solid #4fa9dd;
		background-color: #316282;
	}
	.searchbox input{
		color: #fff;
		font-size: 14px;
		padding-left: 2px;
		width: 172px;
		height: 27px;
		font-style: italic;
		background-color: #316282;
		border: none;
		outline: none;
		position: absolute;
		font-weight: 300;
	} 
	input::-webkit-input-placeholder{
		color: #0e1c25;
	}
	.storeHomepage1{
		position: absolute;
		top: 35px;
		left: 0;
		height: 0;
		background-color: #c7d5e0;
		width: 118px;
		z-index: 2;
		opacity: 0;
		overflow: hidden;
		box-shadow: 0 0 12px #000;
		transition:all 0.5s;
	}
	.storeNav a{
		display: block;
		color: #000;
		line-height: 24px;
		padding: 2px 8px;
		font-size: 13px;
	}
	.storeNav a:hover{
		color: #fff;
		background-color: #212d3d;
	}
	.storeNav{
		padding: 5px;
	}
	.hr{
		height: 1px;
		background-color: #fff;
		margin: 5px;
	}
	.yourStore:hover .storeHomepage1{
		height: 134px;
		opacity: 1;
	}
	.storeHomepage2{
		position: absolute;
		top: 35px;
		left: 0;
		height: 0;
		background-color: #c7d5e0;
		opacity: 0;
		width: 145px;
		z-index: 2;
		overflow: hidden;
		box-shadow: 0 0 12px #000;
		transition:all 0.5s;
	}
	.storeNav p{
		margin-left: 8px;
		font-size: 11px;
		color: #4f94bc;
		line-height: 24px;
	}
	.game:hover .storeHomepage2{
		height: 592px;
		opacity: 1;
	}
	.storeHomepage3{
		position: absolute;
		top: 35px;
		left: 0;
		height: 0;
		background-color: #c7d5e0;
		opacity: 0;
		width: 124px;
		z-index: 2;
		overflow: hidden;
		box-shadow: 0 0 12px #000;
		transition:all 0.5s;
	}
	.software:hover .storeHomepage3{
		opacity: 1;
		height: 216px;
	}
	.storeHomepage4{
		position: absolute;
		top: 35px;
		left: 0;
		height: 0;
		background-color: #c7d5e0;
		opacity: 0;
		width: 120px;
		z-index: 2;
		overflow: hidden;
		box-shadow: 0 0 12px #000;
		transition:all 0.5s;
	}
	.hardware:hover .storeHomepage4{
		opacity: 1;
		height: 120px;
	}
	.storeHomepage5{
		position: absolute;
		top: 35px;
		left: 0;
		height: 0;
		background-color: #c7d5e0;
		opacity: 0;
		width: 116px;
		overflow: hidden;
		box-shadow: 0 0 12px #000;
		z-index: 2;
		transition:all 0.5s;
	}
	.video:hover .storeHomepage5{
		opacity: 1;
		height: 442px;
	}
	.container{
		width: 940px;
		padding: 0 50px;
		height: 353px;
	}
	.carousel_container{
		margin-top: 5px;
		position: relative;
	}
	.carousel_container>span{
		position: absolute;
		top: 122px;
		display: block;
		height: 36px;
		width: 23px;
		padding: 36px 11px;
		cursor: pointer;
	}
	.carousel_container i{
		width: 23px;
		height: 36px;
		display: block;
		background-image: url(img/arrows.png);
	}
	.box{
		position: relative;
		left: -50px;
		width: 940px;
		padding: 0 50px;
		height: 420px;
	}
	.left{
		left: -46px;
		background: linear-gradient(to right,rgba(0,0,0,.3)5%,rgba(0,0,0,0)95%) ;
	}
	.left:hover{background: linear-gradient(to right,rgba(171,218,244,.3)5%,rgba(171,218,244,0)95%);}
	.left i{
		background-position: -23px 0;
	}
	.right{
		right: -46px;
		background:  linear-gradient(to left,rgba(0,0,0,.3)5%,rgba(0,0,0,0)95%) ;
	}
	.right:hover{background:  linear-gradient(to left,rgba(171,218,244,.3)5%,rgba(171,218,244,0)95%) ;}
	.carousel_items{
		height: 353px;
		width: 940px;
		margin: 0 auto;
		position: relative;
		background-color: rgba(0,0,0,.6);
		box-shadow: 0 0 7px 0 #000;
	}
	.carousel_items.game{
		height: 135px;
		background-color: inherit;
		box-shadow: none;
	}
	.scheme{
		position: absolute;
		top: 0;
		left: 0px;
		display: none;
		width: 940px;
		height: 353px;
	}
	.contentImg{
		float: left;
		height: 353px;
		margin-right: 10px;
		position: relative;
	}
	.contentImg li{
		position: absolute;
		top: 0;
		left: 0;
		height: 353px;
		display: none;
	}
	.contentImg li img{
		width: 616px;
		height: 353px;
	}
	.info{
		float: right;
		width: 314px;
		height: 353px;
		color: #fff;
		overflow: hidden;
		position: relative;
	}
	.app_name{
		padding-top: 10px;
		padding-left: 6px;
		padding-right: 6px;
		font-size: 24px;
		line-height: 26px;
		height: 59px;
		font-weight: 300;
		display: flex;
		align-items:center;
	}
	.screenshots{
		width: 330px;
		display: inline-block;
		margin-left: -16px;
		max-height: 176px;
		position: relative;
	}
	.screenshots img{
		width: 153px;
		height: 72px;
		opacity: 0.6;
		padding:10px 10px 0 0; 
	}
	.screenshots img:hover{
		opacity: 1;
	}
	.reason{
		margin-top: 8px;
		padding-left: 6px;
		width: 298px;
	}
	.reason p{
		font-size: 21px;
		font-weight: 200;
		padding-top: 6px;
	}
	.additional{
		margin-top: 10px;
		font-size: 11px;
		display: inline-block;
		margin-bottom: 8px;
		line-height: 19px;
		background-color: rgba(255,255,255,0.2);
		border-radius: 2px;
		padding: 0 7px;
	}
	.discount_block{
		position: absolute;
		left: 10px;
		bottom: 10px;
	}
	.discount_prices{
		display: inline-block;
		color: #acdbf5;
		font-size: 11px;
		padding: 0 5px;
		background-color: #000;
		margin-left: -3px;
	}
	.discount_prices.shijia{background-color: rgba(0,0,0,0);}
	.discount_original_price{
		color: #7193a6;
		text-decoration: line-through;
		margin-right: 5px;
	}
	.discount_pct{
		display: inline-block;
		padding: 0 4px;
		color: #a4d007; 
		background-color: #4c6b22;
		font-size: 11px;
	}
	.platforms{
		position: absolute;
		right: 10px;
		bottom: 10px;
	}
	.platforms span{
		display: inline-block;
		width: 20px;
		height: 20px;
	}
	.platforms img{opacity: 0.7;}
	.home_maincap{
		position: absolute;
		left: -305px;
		top: 0;
		width: 300px;
		height: 330px;
		background-color: #dee6ec;
		display: none;
		z-index: 2;
	}
	.substance{
		padding:12px 15px;
	}
	.substance p{
		font-size: 13px;
		color: #666;
	}
	.substanceImg{
		max-height: 140px;
		position: relative;
	}
	.substanceImg img{
		position: absolute;
		top: 5px;
		left: 0;
		width: 270px;
		height: 140px;
	}
	.evaluation{
		height: 42px;
		background-color: #687783;
		margin-top: 152px;
		margin-bottom: 8px;
	}
	.evaluation p{
		line-height: 20px;
		padding-left: 5px;
	}
	.evaluation span{
		color: #66c0f4;
		margin-right: 3px;
	}
	.label span{
		padding: 3px;
		color: #fff;
		font-size: 13px;
		background-color: #96a3ae;
	}
	.browse{
		font-size: 12px;
		display: block;
		float: right;
	}
	.browse a{
		color: #fff;
		letter-spacing: normal;
		border-radius: 2px;
		padding: 3px 15px;
		line-height: 20px;
		border: 1px solid rgba(255,255,255,.4);
		margin-left: 5px;
	}
	.browse a:hover{border: 1px solid #fff;}
	.dot{
		text-align: center;
		padding-bottom: 4px;
	}
	.dot span{
		width: 15px;
		height: 9px;
		border-radius: 2px;
		cursor: pointer;
		margin: 14px 3px;
		display: inline-block;
		background-color: #ffffff33;
	}
	.dot span.focus{background-color: #ffffff66;}
	.home_ctn{margin:50px 0;}
	#Carouselfigure2 .carousel_items{
		background-color: inherit;
		box-shadow: none;
	}
	.home_area_spotlight{
		background-image: url(img/background_spotlight.jpg);
		height: 353px;
		box-shadow: 3px 3px 5px #000;
		margin-right: 10px;
		background-repeat: no-repeat;
		display: inline-block;
		background-size: 180%;
	}
	.spotlight_img{
		width: 306px;
		height: 230px;
		overflow: hidden;
	}
	.spotlight_img img{
		height: 230px;
		width: 306px;
	}
	.spotlight_content{
		padding: 8px 16px;
		width: 274px;
		height: 107px;
	}
	.spotlight_body p{
		color: #acdbf5;
	}
	.discount_block.large{
		position: relative;
		display: block;
		left: -2px;
		bottom: -5px;
	}
	.discount_block.large .discount_pct{
		line-height: 34px;
		padding: 0 5px;
		font-size: 26px;
	}
	.discount_block.large .discount_prices{
		background-color: rgba(0,0,0,.6);
		padding: 4px 10px 4px 7px;
		line-height: 13px;
		vertical-align: bottom;
	}
	.discount_block.large span{display: block;}
	.specials_target{
		display: inline-block;
		width: 300px;
		height: 168px;
		margin-bottom: 15px;
		box-shadow: 3px 3px 5px #000;
		background: linear-gradient( to bottom, #ffffff 5%, #abdaf4 95%);
		position: absolute;
		top: 0;
		right: 0;
	}
	.capsule img{
		width: 300px;
		height: 120px;
	}
	.dailydeal_desc{
		display: inline-block;
		padding: 0px 7px 4px 7px;
	}
	.todayspecial{
		color: #283846;
		font-size: 11px;
	}
	.dailydeal_countdown{
		background-color: #4f95bd;
		color: #c4e4f2;
		font-size: 10px;
		line-height: 13px;
		padding: 0 4px;
		margin-top: 4px;
	}
	.specials_target .discount_block.large{
		position: absolute;
		display: inline-block;
		bottom: 10px;
		left: 170px;
	}
	.specials_target.tracked{
		position: absolute;
		top: 185px;
		right: 0;
	}
	.big_buttons{
		margin: 40px 0;
	}
	.button_container div{
		display: inline-block;
		margin-right: 8px;
		text-align: center;
	}
	.button_container a{
		color: #66c0f4;
		display: block;
		width: 226px;
		height: 58px;
		font-weight: 300;
		font-size: 18px;
		text-align: center;
		background-image: url(img/background_spotlight.jpg);
		background-position-y:-105px; 
		border-radius: 3px;
		box-shadow: 0 0 4px #000;
		line-height: 58px;
	}
	.button_container a:hover{
		background-position-y:-142px;
		color: #fff; 
	}
	.button_container .tag{
		margin-right: 0;
	}
	.connoisseur{
		margin-top: 40px;
		min-height: 360px;
		margin-bottom: 30px;
	}
	.connoisseur b{
		font-weight: bold;
	}
	.curator_page{
		box-shadow: 0 0 5px #000;
		background: -webkit-linear-gradient( 153deg, rgba( 255, 255, 255, 0.2) 5%,rgba( 255, 255, 255, 0.1) 95%);
		padding: 16px 13px;
		flex-direction:column;
		font-weight: normal;
		position: relative;
		min-height: 342px;
		display: none;
	}
	.profile{
		display: flex;
		margin-bottom: 20px;
	}
	.profile img{border: 1px solid #fff;}
	.follow{
		display: flex;
		flex-direction:column;
		margin-left: 15px;
	}
	.name{
		font-size: 19px;
		font-weight: 300;
		color: #c7d5e0;
	}
	.name span{color: #eff3f6;}
	.actions{
		display: flex;
		padding: 2px;
		margin-top: 6px;
		background-color: rgba(0,0,0,.2);
		width: fit-content;
	}
	.actions a{
		border-radius: 2px;
		padding: 4px 12px;
		display: inline-block;
		color: #D2E885;
		background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
		height: 24px;
		font-size: 15px;
	}
	.actions a:hover{background: -webkit-linear-gradient( top, #a1bf07 5%, #80a006 95%);}
	.followers{
		margin-left: 5px;
		padding-right: 20px;
	}
	.followers span{
		font-size: 15px;
		display: block;
	}
	.curations{display: flex;}
	.curations>div{
		display: inline-block;
		width: 220px;
	}
	.store_capsule{
		position: relative;
		width: 100%;
		box-shadow: 0 0 5px #000;
		vertical-align:top;
		display: inline-block;
		height: 104px;
	}
	.store_capsule img{width: 100%;}
	.discount_block_inline{
		position: absolute;
		right: 0;
		bottom: 0;
		display: inline-block;
		padding: 5px;
		line-height: 17px;
	}
	.discount_block_inline span{
		background-color: rgba(20,31,44,.7);
		color: #fff;
		padding: 2px 5px;
	}
	.detail{margin-right: 8px;}
	.detail p{
		font-size: 13px;
		letter-spacing: 2px;
		font-weight: 300;
		line-height: 23px;
		color: #66c0f4;
	}
	.detail>div{
		padding-right: 12px;
		line-height: 17px;
		font-weight: 300;
	}
	.carousel_items.auto{height: auto;}
	.tab_container{
		background: linear-gradient( to bottom, rgba(42,71,94,1.0) 5%, rgba(42,71,94,0.0) 70%);
		margin-top: 80px;
		padding-top: 1px;
		height: 800px;
	}
	.tab_container>div{margin-top: -31px;}
	.merchandise{
		height: 31px;
		margin-bottom: 8px;
	}
	.merchandise li{
		float: left;
		cursor: pointer;
		color: #4f94bc;
		font-size: 13px;
		padding: 0 10px;
		margin-right: 5px;
		line-height: 31px;
	}
	.merchandise>li:hover{color: #fff;}
	.merchandise .tab_content{
		background-color: #2a475e;
		font-size: 14px;
		color: #fff;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	.tab_nav{
		width: 940px;
		overflow: hidden;
		display: none;
	}
	.tab_nav.prev{display: block;}
	.home_leftcol{
		float: left;
		width: 618px;
		padding-right: 14px;
	}
	.home_leftcol>a{
		display: block;
		padding-right: 14px;
		height: 69px;
		margin-bottom: 5px;
		background: rgba(0,0,0,.2);
		padding-left: 198px;
		position: relative;
	}
	.home_leftcol .app{
		background: linear-gradient( to right, #c6e6f8 5%,#95bcd3 95%);
		margin-right: -14px;
	}
	.app .discount_final_price{color: #263645;}
	.app .tab_item_name{color: #10161b;}
	.tab_item_cap{
		position: absolute;
		top: 0;
		left: 0;
	}
	.home_leftcol .tab_item_discount{
		float: right;
		margin-right: 16px;
		margin-top: 10px;
		font-size: 13px;
	}
	.app .tab_item_discount{margin-right: 30px;}
	.tab_item_discount span{display: block;}
	.discount_final_price{color: #acdbf5;}
	.tab_item_content{padding-top: 7px;}
	.tab_item_content p{
		color: #c7d5e0;
		font-size: 15px;
		line-height: 18px;
	}
	.tab_item_details{
		color: #384959;
		line-height: 20px;
	}
	.tab_item_details span{
		display: inline-block;
		background-repeat: no-repeat;
		width: 20px;
		height: 20px;
		vertical-align: bottom;
		opacity: 0.3;
	}
	.win{background-image: url(img/icon_platform_win.png);}
	.mac{background-image: url(img/icon_platform_mac.png);}
	.linux{background-image: url(img/icon_platform_linux.png);}
	.app .win{background-image: url(img/icon_platform_win_dark.png);}
	.app .mac{background-image: url(img/icon_platform_mac_dark.png);}
	.app .linux{background-image: url(img/icon_platform_linux_dark.png);}
	.home_rightcol{
		float: right;
		width: 308px;
		background: linear-gradient( to right, #95bbd4 5%,#859bac 95%);
		position: relative;
		height: 735px;
	}
	.tab_preview{
		position: absolute;
		top: 9px;
		left: 16px;
		display: none;
	}
	.tab_preview h2{
		font-size: 21px;
		color: #263645;
		line-height: 30px;
		letter-spacing: 0;
		margin-bottom: 7px;
	}
	.tab_preview.focus{display: block;}
	.tab_review_summary{
		padding: 5px 7px;
		margin-bottom: 10px;
		width: 258px;
		border-radius: 2px;
		background-color: rgba( 38, 54, 69, 0.6);
	}
	.evaluate{color: #66c0f4;}
	.tags{height: 22px;}
	.tags a{
		background-color: rgba( 38, 54, 69, 0.6);
		padding: 2px 6px;
		line-height: 19px;
		margin-right: 2px;
		border-radius: 2px;
		margin-bottom: 3px;
		font-size: 11px;
		color: #fff;
	}
	.tags a:hover{color: #66c0f4;}
	.screenshot{
		width: 258px;
		margin-top: 5px;
		background-size: cover;
		background-position: center center;
	}
	.screenshot img{width: 100%;}
	.tab_see_more{
		text-align: right;
		background-color: rgba(0,0,0,.2);
		padding: 5px;
	}
	.tab_see_more a{
		padding: 5px 16px;
		line-height: 24px;
		border: 1px solid rgba(255,255,255,.4);
		border-radius: 2px;
		color: #fff;
		margin: 0 2px;
	}
	.tab_see_more a:hover{border: 1px solid rgba(255,255,255,1);}
	#chart4>span{top: 15px;}
	.cheap{display: none;}
	.cheap a{
		display: inline-block;
		width: 229px;
		margin-left: 5px;
		box-shadow: 0 0 5px #000;
		background:linear-gradient( -45deg, rgba(64,121,153,1) 5%,rgba(42,62,89,1) 95%);
	}
	.cheap .one{margin-left: 0;}
	.cheap img{width: 100%;}
	.discount_inline{
		padding: 5px;
		text-align: right;
		line-height: 15px;
	}
	.discount_inline .discount_prices{background-color: rgba(20,31,44,0.4)}
	.renewal{margin-bottom: 40px;}
	.marketingmessage a{
		display: inline-block;
		margin-right: 8px;
		background: linear-gradient( 135deg, rgba(37,49,63,1) 5%,rgba(54,97,125,1) 95%);
	}
	.marketingmessage img{width: 368px;}
	.content_login{
		background-color: #000;
		padding-top: 25px;
	}
	.more_content_title{
		font-size: 24px;
		color: #67c1f5;
		text-align: center;
		background-image: url(img/下载.png);
		background-repeat:repeat-x;
	}
	.more_content_title span{
		background-color: #000;
		padding: 0 10px;
	}
	.sign_in_ctn{
		height: 108px;
		padding: 16px;
		padding-bottom: 30px;
		margin-bottom: 30px;
		text-align: center;
		font-size: 15px;
		color: #8f98a0;
	}
	.signin_buttons_ctn{margin-top: 15px;}
	.btn_green{
		display: inline-block;
		border-radius: 4px;
		border: 2px solid #172030;
		padding: 0 16px;
		line-height: 32px;
		color: #D2E885;
		background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
	}
	.btn_green:hover{
		background: #a4d007;
		color: #fff;
	}
	.register{color: #fff;}
	.register:hover{color: #66c0f4;}
	.footer{
		padding: 16px 0 50px 0;
		background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 100%);
	}
	.footer_content{
		width: 940px;
		margin: 0 auto;
		padding-top: 16px;
		padding-left: 234px;
		overflow: hidden;
	}
	.rule{height: 8px;}
	.footer_logo_steam{
		float: right;
		padding-top: 2px;
	}
	.footer_logo{
		float: left;
		padding-top: 2px;
	}
	.footer_text{
		float: left;
		margin-left: 12px;
		color: #8F98A0;
		line-height: 16px;
	}
	.footer_text a{color: #C6D4DF;}
	.footer_text a:hover{color: #fff;}
	.valve_links{
		margin-top: 8px;
		float: left;
		font-size: 13px;
	}
	.valve_links a{color: #C6D4DF;}
	.valve_links a:hover{color: #fff;}
	.valve_links img{vertical-align: bottom;}